<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="aaa.bbb.ccc.BaseMapper">
  <select id="selectPost" resultType="aaa.bbb.ccc.entity.Post">
    select * from MyPost where postId = #{postId}
  </select>
  
  <select id="nullIdIp" resultType="aaa.bbb.ccc.entity.Member">
   SELECT sourceIp , id FROM hong.loginLog Where id = #{id}
  </select>
  
  <select id="indexUser" resultType="aaa.bbb.ccc.entity.Member">
    select * from hong.member where id = #{id}
  </select>
  
  
  <select id="getLastNaverTop20" resultType="aaa.bbb.ccc.entity.newsTitle">
    select * from hong.todayNewsTop20 where id = #{id}
  </select>
 
  
  
  <select id="selectReply" resultType="aaa.bbb.ccc.entity.Reply">
    select * from MyPostReply where id = #{id}
  </select>
  <select id="allPost" resultType="aaa.bbb.ccc.entity.Post">
    select * from MyPost order by postId desc 
  </select>
  
  
  
  
  <select id="memberList" resultType="aaa.bbb.ccc.entity.Member">
    select * from hong.member 
  </select>
  
  <select id="searchCountryCodeNullId" resultType="Integer">
    select id from hong.loginLog  where countryCode is null GROUP BY  id
  </select>
  
  
  <select id="searchMemberList" resultType="aaa.bbb.ccc.entity.Member" parameterType="aaa.bbb.ccc.entity.Member" >
   <bind name="search2" value="'%' + _parameter.search + '%'" />
    select * from hong.member where id like  #{search2} or nickName like #{search2} 
  </select>
  
  <select id="limitPost" resultType="aaa.bbb.ccc.entity.Post">
    select * from MyPost order by postId desc limit #{pageSize} offset #{currentPage}
  </select>
   <select id="allReply" resultType="aaa.bbb.ccc.entity.Reply">
    select * from MyPostReply where postId = #{postId} AND replyId is null order by id desc
  </select>
  <select id="reReply" resultType="aaa.bbb.ccc.entity.Reply">
    select * from MyPostReply where replyId = #{id} order by id desc
  </select>
  <select id="searchPost" resultType="aaa.bbb.ccc.entity.Post" parameterType="String">
  <bind name="search" value="'%' + _parameter + '%'" />
    select * from MyPost where instaId like #{search} or description like #{search}
  </select>
  <select id="searchLimitPost" resultType="aaa.bbb.ccc.entity.Post" parameterType="aaa.bbb.ccc.entity.PageManager" >
   <bind name="search1" value="'%' + _parameter.search + '%'" />
    select * from MyPost where instaId like  #{search1} or description like #{search1} limit #{pageSize} offset #{currentPage}
  </select>
  <select id="countPost" resultType="Integer">
    select count(*) as totalSize from hong.MyPost
  </select>
  
  <select id="countProjectList" resultType="Integer">
    select count(*) as totalSize from hong.projectList
  </select>
  <select id="limitProjectList" resultType="aaa.bbb.ccc.entity.Project">
    select * from hong.projectList order by id desc limit #{pageSize} offset #{currentPage}
  </select>
  <select id="countSearchProjectList" resultType="Integer" parameterType="String">
  <bind name="search" value="'%' + _parameter + '%'" />
    select count(*) as totalSize from hong.projectList where title like #{search}
  </select>
  <select id="searchLimitProjectList" resultType="aaa.bbb.ccc.entity.Project" parameterType="aaa.bbb.ccc.entity.PageManager" >
   <bind name="search1" value="'%' + _parameter.search + '%'" />
    select * from hong.projectList where title like  #{search1} limit #{pageSize} offset #{currentPage}
  </select>
  
  
  <select id="countIdPsw" resultType="Integer">
    select count(*) from member where id = #{id} and password = #{password}
  </select>
  
  <select id="countLogAjax" resultType="aaa.bbb.ccc.entity.loginLog" >
   SELECT  COUNT(*) AS total, DAY(created) AS day, MONTH(created) AS month FROM hong.loginLog WHERE MONTH(created) = ${time1} GROUP BY  MONTH(created), DAY(created) order by DAY(created) desc
  </select>
  <select id="countLogSuccessAjax" resultType="aaa.bbb.ccc.entity.loginLog" >
   SELECT  COUNT(*) AS successTotal, DAY(created) AS day, MONTH(created) AS month FROM hong.loginLog WHERE successful = '1' AND MONTH(created) = #{time1} GROUP BY  MONTH(created), DAY(created) order by DAY(created) desc
  </select>
  
  <select id="countAllMember" resultType="Integer">
    select count(*) from member 
  </select>
  <select id="countSuccessLogin" resultType="Integer" >
    select count(*) from hong.loginLog where successful = 1 
  </select>
  <select id="countLogin" resultType="Integer" >
    select count(*) from hong.loginLog 
  </select>
  <select id="countTodayLogin" resultType="Integer" parameterType="String">
  <bind name="time1" value="'%' + _parameter + '%'" />
    select count(*) from hong.loginLog where created like #{time1} 
  </select>
  
  
  <select id="countNdaySuccessLogin" resultType="aaa.bbb.ccc.entity.loginLog" parameterType="String">
    SELECT  COUNT(*) AS total, DAY(created) AS day, MONTH(created) AS month , successful 
	FROM 
	(SELECT  * 
	FROM hong.loginLog 
	WHERE created >= #{time1}) xmen
	GROUP BY  MONTH(created), DAY(created), successful
	ORDER BY DAY(created) desc;
  </select>
  
   <select id="countCountryCode" resultType="aaa.bbb.ccc.entity.countryData" parameterType="String">
    SELECT   countryCode, COUNT(*) AS countryCodeTotal
    FROM hong.loginLog
	GROUP BY  countryCode;
  </select>
  
 <select id="countNdayTotalLogin" resultType="Integer" parameterType="String">
  <bind name="time1" value="'%' + _parameter + '%'" />
    select count(*) AS successTotal from hong.loginLog WHERE created like #{time1} 
  </select>
  
  
  
  <select id="countId" resultType="Integer">
    select count(*) from member where id = #{id}
  </select>
  
  
  
  <select id="countNick" resultType="Integer">
    select count(*) from member where nickName = #{nickName}
  </select>
  
  <select id="countSearchPost" resultType="Integer" parameterType="String">
  <bind name="search" value="'%' + _parameter + '%'" />
    select count(*) as totalSize from hong.MyPost where instaId like #{search} or description like #{search}
  </select>
  
  <insert id="insertLoginLogFalse" parameterType="aaa.bbb.ccc.entity.Member">
    insert into hong.loginLog (hong.loginLog.created,loginId,sourceIp,successful,countryCode) values (now(),#{loginId},#{sourceIp},false,#{countryCode})
  </insert>
  
  <insert id="insertLoginLogTrue" parameterType="aaa.bbb.ccc.entity.Member">
    insert into hong.loginLog (hong.loginLog.created,loginId,sourceIp,successful,countryCode) values (now(),#{loginId},#{sourceIp},true,#{countryCode})
  </insert>
  
  <insert id="insertPost" parameterType="aaa.bbb.ccc.entity.Post">
    insert into MyPost (hong.MyPost.create,picture,instaId,description) values (now(),#{picture},#{instaId},#{description})
  </insert>
  <insert id="insertMember" parameterType="aaa.bbb.ccc.entity.Member">
    insert into member (hong.member.create,id,nickName,password,passwordConfirm,role) values (now(),#{id},#{nickName},#{password},#{passwordConfirm},#{role})
  </insert>
  <insert id="insertReply" parameterType="aaa.bbb.ccc.entity.Reply">
    insert into MyPostReply (hong.MyPostReply.create,instaId,description,postId) values (now(),#{instaId},#{description},#{postId})
  </insert>
  <insert id="insertReReply" parameterType="aaa.bbb.ccc.entity.Reply">
    insert into MyPostReply (hong.MyPostReply.create,instaId,description,postId,replyId) values (now(),#{instaId},#{description},#{postId},#{replyId})
  </insert>
  
  <insert id="insertIamkayNotList" parameterType="aaa.bbb.ccc.entity.JsoupReply">
    insert into hong.iamkayList (hong.iamkayList.password,id,writer,published,content) 
    values 
    (#{password},#{id},#{writer},#{published},#{content})
  </insert>
  
   <insert id="insertNews" parameterType="aaa.bbb.ccc.entity.newsTitle">
    insert into hong.todayNews (hong.todayNews.created,title,link,source) 
    values 
    (now(),#{title},#{link},#{source})
  </insert>
  
  
  <insert id="insertTop20" parameterType="aaa.bbb.ccc.entity.newsTitle">
    insert into hong.todayNewsTop20 (hong.todayNewsTop20.created,top20,source) 
    values 
    (now(),#{top20},#{source})
  </insert>
  
   <select id="getTop20MaxId" parameterType="aaa.bbb.ccc.entity.newsTitle" resultType="integer">
    select MAX(id) AS id from hong.todayNewsTop20 where source = #{source}
  </select>
  
  <select id="getLastTop20" parameterType="aaa.bbb.ccc.entity.newsTitle" resultType="aaa.bbb.ccc.entity.newsTitle">
  	SELECT * FROM hong.todayNewsTop20 WHERE source = #{source} order by id desc LIMIT 1;
  </select>
  
  
  <select id="getToDayNaverTop20" resultType="aaa.bbb.ccc.entity.newsTitle">
  	SELECT 
	* 
	FROM 
	hong.todayNewsTop20
	WHERE
	source = 'naver' and
	created >
	DATE_ADD(now(), INTERVAL -24 HOUR) 
	order by id desc;
  </select>
  
  <select id="10RangeData" parameterType="aaa.bbb.ccc.entity.newsTitle" resultType="aaa.bbb.ccc.entity.newsTitle">
  SELECT * FROM hong.todayNewsTop20 where hong.todayNewsTop20.source = #{source} order by id desc limit 10 ;
  </select>
  
  
  
  <select id="getToDayDaumTop20" resultType="aaa.bbb.ccc.entity.newsTitle">
  	SELECT 
	* 
	FROM 
	hong.todayNewsTop20
	WHERE
	source = 'daum' and
	created >
	DATE_ADD(now(), INTERVAL -24 HOUR) 
	order by id desc;
  </select>
  
  <select id="getToDayNewsData" parameterType="aaa.bbb.ccc.entity.newsTitle" resultType="aaa.bbb.ccc.entity.newsTitle">
  	SELECT 
	* 
	FROM 
	hong.todayNews 
	WHERE
	source = #{source} and
	created >
	DATE_ADD(now(), INTERVAL -24 HOUR) 
	order by id desc;
  </select>
  
  
  <select id="getToDayNaverNewsData" resultType="aaa.bbb.ccc.entity.newsTitle">
  	SELECT 
	* 
	FROM 
	hong.todayNews 
	WHERE
	source = 'naver' and
	created >
	DATE_ADD(now(), INTERVAL -24 HOUR) 
	order by id desc;
  </select>
  
  <select id="getToDayDaumNewsData" resultType="aaa.bbb.ccc.entity.newsTitle">
  	SELECT 
	* 
	FROM 
	hong.todayNews 
	WHERE
	source = 'daum' and
	created >
	DATE_ADD(now(), INTERVAL -24 HOUR) 
	order by id desc;
  </select>
  
  
  <insert id="insertIamkay" parameterType="aaa.bbb.ccc.entity.JsoupReply">
	   insert into hong.iamkayList (hong.iamkayList.password,id,writer,published,content)
		VALUES
		<foreach collection="list" item="item" separator=",">
		("${item.password}","${item.id}","${item.writer}","${item.published}","${item.content}")
		</foreach>
  </insert>
  
  <select id="getAllId" resultType="aaa.bbb.ccc.entity.JsoupReply">
    SELECT id FROM hong.iamkayList order by id desc
  </select>
   <select id="getMaxId" resultType="Integer">
    SELECT MAX(id) FROM hong.iamkayList
  </select>

  <select id="getCountId" resultType="integer">
    SELECT count(*) id FROM hong.iamkayList where id
  </select>
  
  
  <update id="updatePost" parameterType="aaa.bbb.ccc.entity.Post">
    update MyPost set instaId=#{instaId} , picture=#{picture}, description=#{description} where postId=#{postId}
  </update>
  
   <update id="updateNullIp" parameterType="aaa.bbb.ccc.entity.loginLog">
    update hong.loginLog set countryCode=#{countryCode} where id=#{id}
  </update>
  
  
  <update id="updateReply" parameterType="aaa.bbb.ccc.entity.Reply">
    update MyPostReply set instaId=#{instaId} , description=#{description} where id=#{id}
  </update>
  <delete id="deletePost" parameterType="Integer">
    delete from MyPost where postId=#{postId}
  </delete>
  <delete id="deleteReply" parameterType="Integer">
    delete from MyPostReply where id=#{id}
  </delete>
</mapper>