<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="aaa.bbb.ccc.BaseMapper">
  <select id="selectPost" resultType="aaa.bbb.ccc.entity.Post" parameterType="aaa.bbb.ccc.entity.Post">
    select * from MyPost where postId = #{postId}
  </select>
  <select id="allPost" resultType="aaa.bbb.ccc.entity.Post">
    select * from MyPost 
  </select>
  <select id="searchPost" resultType="aaa.bbb.ccc.entity.Post">
    select * from MyPost where instaId like #{search} or description like #{search}
  </select>
  
</mapper>

